html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 24px;
  color: #626262;
}

main {
  width: 900px;
  margin: 0 auto;
  font-size: 0;
}

.site-navigation {
  font-size: 14px;
  line-height: 24px;
  list-style: none;
  padding: 76px 0 100px 0;
  margin-bottom: 0;
  vertical-align: middle;
  text-align: center;
}

.site-navigation a {
  color: #626262;
  text-decoration: none;
  text-transform: uppercase;
}

.site-navigation li:not(:last-child) {
  margin-right: 100px;
}

.list :hover,
.list :focus {
  color: lightblue;
}

.list {
  display: inline-block;
}

.under-img {
  color: #b4ad9e;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Ubuntu Condensed", sans-serif;
  margin-bottom: 30px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.post-title {
  font-size: 30px;
  margin-bottom: 40px;
}

.posts {
  display: inline-block;
  width: 420px;
  margin-right: 30px;
  margin-bottom: 136px;
}

.posts:nth-child(2n) {
  margin-right: 0;
}

.posts:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

p {
  font-size: 14px;
}

.load-more-button {
  border-color: #626262;
  background-color: #ffffff;
  color: #626262;
  padding: 22px 34px;
  display: inline-block;
  margin: 56px 360px 70px 360px;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}
